* { /* *//* Загальні стилі *//* */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
  }
  html { /* плавний перехід при прокрутці */
    scroll-behavior: smooth; 
  }
  body, button, input { /* Спільні стилі для елементів */
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
  }
  body { /* тіло фону */
    margin: 3.5rem 0 0 0;
    background-color: #fff;
    color: #10221b;
  }
  ul { /* Знуляємо маркери списку */
    list-style: none; 
  }
  a { /* Стилі для посилань a */
    text-decoration: none;
    color: #10221b;
  }
  button {  /* Стилі для кнопок button */
    cursor: pointer;
    border: none;
    outline: none;
  }
  .header {
    width: 100%;
    background-color: #ffffffe8 !important; /* Темний сірий колір на задній фон шапки */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.4s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Тінь */
  }
  .lion { /* БЛОК "LION" */
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lion__list { /* основні елементи LION */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .lion__link { /* Стилі для посилань у списку */
    color: #10221b;
    font-weight: 500;
    transition: 0.3s;
  }
  .lion__close { /* Стилі для кнопки закриття */
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }
  .lion .lion__item { /* Стилі для елементу списку */
    position: relative;
  }
  .lion__link:hover {
    color: #219150; /* Додайте ваш колір для активного стану тут */
  }
  .lion__logo { /* Розмір шрифту для логотипу */
    font-size: 1.5rem;
  }
  .lion { /* Відступи та висота між колонками */
    padding: 0 2rem;
    height: 5rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .lion__logo { /* Розмір шрифту для логотипу */
    font-size: 1.5rem;
  }
  .lion__menu { /* Вирівнювання меню з правого боку */
    margin-left: auto;
  }
  .lion__list { /* Відступ і напрямок між колонками */
    flex-direction: row;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .lion .dropdown { /* елементи випадаючого списку */
    position: absolute;
    top: 100%;
  }
  .bg-header {/* заміна кольору заголовка */
    background-color: #fff;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  }
  .home { /* *//* Головна *//* */
    padding: 0;
    margin-bottom: 2.5rem;
  }
  .home .swiper { /* Стилі для слайдера всередині секції "home" */
    height: 100vh;
  }
  .home .swiper .content__one { /* Стилі для першого слайду в слайдері */
    width: 100vw;
    height: 100vh;
    background: url("https://i.imgur.com/DCqZZqx.png") no-repeat;
    background-position: right;
  }
  .home .swiper .content__two { /* Стилі для другого слайду в слайдері */
    width: 100vw;
    height: 100vh;
    background: url("https://i.imgur.com/N7mX1Ct.png") no-repeat;
    background-position: left;
  }
  .home .swiper .content__three { /* Стилі для третього слайду в слайдері */
    width: 100vw;
    height: 100vh;
    background: url("https://i.imgur.com/BUpLJBW.png") no-repeat;
    background-position: right;
  }
  .home .swiper .content__text { /* Стилі для текстового блоку всередині слайдера */
    padding: 0 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
  .home .swiper span,
  .home .swiper h3,
  .home .swiper p { /* Загальні стилі для елементів в розділі "home" */
    width: 100%;
  }
  .home .swiper h3 { /* Стилі для елементу заголовка h3 */
    font-size: 1.5rem;
    color: #219150;
    padding-top: 0.5rem;
    text-transform: uppercase;
  }
  .home .swiper p { /* Стилі для елементу p */
    line-height: 2;
    color: #10221b;
    font-size: 0.999rem;
    padding: 1rem 0;
    text-align: justify;
  }
  .home .swiper .btn { /* Стилі для елементу кнопки */
    height: 50px;
    width: 150px;
    border: 0.2rem solid #10221b;
  }
  .home .swiper-button-next::after,
  .home .swiper-button-prev::after { /* Стилі для елементів next та prev кнопок в блоку */
    font-size: 2rem;
    color: #10221b;
  }
  .coach { /* *//* Тренери *//* */ /* Загальні стилі для тренерів */
    width: auto;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .coach .coach__container { /* Стилі для контейнера */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .coach .coach__container .coach__card { /* Стилі для карточок */
    width: 300px;
    height: 500px;
    overflow: hidden;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-top: 10px;
    transition: transform 0.5s;
  }
  .coach .coach__container .coach__card img { /* Стилі для зображень */
    width: 90%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20%;
    transition: 1s;
    transform: translateY(-0.25rem);
  }
  .coach .coach__container .coach__card:hover { /* Анімація при наведенні на карточку */
    transform: translateY(-0.25rem);
  }
  .coach .coach__container .coach__card h2 { /* Стилі для заголовка */
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color: #219150;
  }
  .coach .coach__container .coach__card p { /* Стилі для тексту */
    color: #10221b;
    text-align: justify;
    padding: 0 20px;
    font-size: 0.813rem;
  }
  .about { /* Загальні стилі для блоку "Про нас" */ /* *//* Про нас *//* */
    width: auto;
    box-sizing: border-box;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .about .about__container { /* Стилі для контейнера в блоку "Про нас" */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .about__container .about__map iframe { /* Стилі для карти в блоку "Про нас" */
    width: 1200px;
    height: 400px;
  }
  .about .about__container .about__text { /* Стилі для текстового блоку в блоку "Про нас" */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
  }
  .about .about__container .about__text p { /* Стилі для параграфу в текстовому блоку в блоку "Про нас" */
    font-size: 1rem;
    color: #10221b;
    line-height: 2;
    text-align: justify;
    padding-bottom: 1rem;
  }
  .shop__card { /* Блок карток в магазині */ /* *//* Магазин *//* */
    position: relative;
    width: 280px;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    padding: 1rem 1rem 1.5rem;
    border-radius: 3.75rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
  }
  .block_side { /* Блок з боковою панеллю */
    position: relative;
    width: 100px;
    box-shadow: 0 4px 16px hsla(0, 0%, 100%, 0.1);
    padding: 1rem 1rem 1.5rem;
    border-radius: 3.75rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
  }
  .shop__card .shop__img { /* Зображення в магазині */
    border-radius: 10%;
    position: relative;
    width: 150px;
    margin-bottom: 2rem;
    transition: 0.3s;
  }
  .shop__card .shop__img:hover { /* Анімація при наведенні на зображення в магазині */
    transform: translateY(-0.5rem);
  }
  .services { /* Стилі для блоку "services" */ /* Послуги */
    width: auto;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .block_side2 { /* Блок з боковою панеллю */
    width: 15px;
  }
  .services__container /* Стилі для контейнера */
  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services h1 { /* Стилі для заголовка h1 */
    padding-bottom: 1rem;
  }
  .services .services__card { /* Стилі для карточки */
    position: relative;
    width: 300px;
    height: 600px;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 1.95rem;
    text-align: center;
    margin-bottom: 4rem;
    overflow: hidden;
  }
  .services .services__card .services__content { /* Стилі для контенту */
    border-radius: 15%;
    width: 250px;
    height: 200px;
  }
  .services .services__card .services__icons { /* Стилі для контенту */
    border-radius: 10%;
    background: #10221b;
    border-radius: 0.1rem;
    padding: 1rem;
    position: relative;
    top: -2rem;
    border-radius: 10%;
    display: inline-block;
  }
  .services .services__card .services__icons a { /* Стилі для посилань "a" */
    font-size: 1rem;
    color: #eee;
  }
  .services .services__card .services__icons a:hover { /* Зміна колір тексту при наведенні */
    color: #219150;
  }
  .helpme { /* Загальні стилі для контейнера "Допомога" */ /* *//* Допомога *//* */
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .helpme .new__container { /* Стилі для внутрішнього контейнера "*/
    max-width: 30rem;
    text-align: center;
    padding: 1rem;
  }
  .helpme .new__container p { /* Стилі для параграфів в контейнері */
    font-size: 1rem;
    line-height: 2;
    color: #10221b;
    text-align: justify;
    margin-bottom: 2rem;
  }
  .helpme .new__container .tel { /* Стилі для телефону в контейнері */
    float: right;
    width: 45%;
  }
  .helpme .new__container input[type=text],
  .helpme .new__container [type=email],
  .helpme .new__container [type=tel],
  .helpme .new__container select,
  .helpme .new__container textarea { /* Стилі для елементів форми в контейнері */
    background: none;
    border: none;
    border-bottom: solid 2px #10221b;
    color: #10221b;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  .helpme .new__container .message { /* Додаткові стилі для елементів форми */
    float: none;
  }
  .helpme .new__container .name { /* Додаткові стилі для елементу Імені у формі */
    float: left;
    width: 45%;
  }
  .helpme .new__container textarea { /* Стилі для текстового поля у контейнері */
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
  }
  .footer { /* *//* Футер *//* */ /* основні елементи футера */ 
    width: 100%;
    max-height: 40rem;
    overflow: hidden;
    background-color: #eee;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/vAai4VJ.png") no-repeat;
  }
  .footer .footer__container { /* Встановлює властивісті для контейнера футера */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    position: relative;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    color: #eee;
  }
  .footer .footer__container .footer__title {  /* Стилі для заголовка футеру */
    padding: 2rem 0 0.25rem 0; 
    font-size: 1.25rem; 
    color: #eee;
  }
  .footer .footer__container .footer__links,
  .footer .footer__container .footer__title { /* Встановлює властивісті для елементів */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer .footer__container .footer__link{ /* Встановлює властивісті для посилання */
    transition: 0.3s;
    color: #eee;
  }

  
  .section { /* Відступи для розділів */
    padding: 2rem 2rem;
  }
  .section__title { /* Стилі для заголовка розділу */
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-top: 1rem;
  }
  .btn { /* Загальні стилі для кнопоки */
    margin: 1rem;
    border: 0.1rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
  }
  .content__text a.link-btn {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }




  .link-btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #ffffff; /* Колір фону за замовчуванням */
    color: #000000; /* Колір тексту за замовчуванням */
    transition: background-color 0.3s, color 0.3s; /* Плавний перехід */
}
.link-btn:hover {
  background-color: #4de94f40; 
}
  .btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
}

.btn-container:first-child {
    margin-top: 0; 
}

  .link-btn { /* Загальні стилі для кнопоки посилань */
    display: block;
    margin: 1rem;
    border: 0.1rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    margin-top: 10px;
  }
  @media screen and (min-width: 576px) { /* Для пристроїв з шириною від 576px */
    .coach__card img {
      width: 100px;
      height: 300px;
    }
  }
  @media screen and (min-width: 767px) { /* Для пристроїв з  шириною до 767px */
    body {
      margin: 0; /* Знулення зовнішніх відступів для тіла сторінки */
    }
    .section { /* Відступи для розділів */
      padding: 6.5rem 0 2rem; 
    }
    .header { /* Прозорий фон заголовка */
      background-color: rgba(255, 255, 255, 0);
    }
    .bg-header { /* Колір фону заголовка */
      background-color: #fff;
      box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    }
    .home .content__one span,
    .home .content__three span,
    .home .content__two span { /* Розмір шрифту для елементів заголовка */
      font-size: 2rem;
    }
    .home .content__one h3,
    .home .content__three h3,
    .home .content__two h3 { /* Розмір шрифту для заголовків */
      font-size: 3rem;
    }
    .home .content__one p,
    .home .content__three p,
    .home .content__two p { /* Розмір шрифту для тексту */
      font-size: 1rem;
    }
    .home .content__one .content__text,
    .home .content__three .content__text,
    .home .content__two .content__text { /* Відступи для текстового блоку */
      align-items: start;
      padding: 0 5rem;
    }
    .home .content__one .btn,
    .home .content__three .btn,
    .home .content__two .btn { /* Елементи кнопок */
      height: 50px;
      width: 140px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
    }
    .about .about__container { /* Напрямок контейнера для "Про нас" в ряд */
      flex-direction: row;
    }
    .about .about__map iframe { /* Висота карти в розділі "Про нас" */
      height: 300px;
    }
    .footer .footer__container { /* Генерація двох колонок у футері */
      grid-template-columns: repeat(2, max-content); 
    }
  }
  @media screen and (min-width: 992px) { /* Для пристроїв від 992px */ /* Для великих екранів */
    .container {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .home .content__one .container__text-right,
    .home .content__two .container__text-right,
    .home .content__three .container__text-right { /* Відображення тексту у слайдах */
      display: flex;
      width: 100%;
      justify-content: end;
    }
    .home .content__one .content__text,
    .home .content__two .content__text,
    .home .content__three .content__text { /* Відображення тексту у слайдах */
      width: 50vw;
      padding: 0 5rem;
      align-items: start;
    }
    .home .btn { /* Елементи кнопок */
      height: 60px;
      width: 140px;
      font-size: 1.25rem;
      padding: 1rem 1rem;
    }
    .shop .shop__container { /* Елементи магазину */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 9rem;
    }
    .shop .shop__card {  /* Зовнішній відступ знизу для карточки товару */
      margin-bottom: 5rem;
    }
    .shop .shop__price { /* Розмір шрифту для ціни товару */
      font-size: 1rem;
    }
  }
  
  .buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.purchase-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

      .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* затемнення */
    }
    
    .modal-content-abonement {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px; /* заокруглені рамки */
      width: 80%;
      max-width: 600px;
  }
  
  .close-abonement {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }


    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px; /* заокруглені рамки */
        width: 80%;
        max-width: 600px;
    }
    
    .modal-content, .modal-content_1, .modal-content_2, .modal-content_3, .modal-content_4 {
      margin: 10% auto;
      padding: 20px;
      background: #fefefe;
      border: 1px solid #888;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Розмір колонок залежить від вмісту */
      gap: 20px; /* Проміжок між картинками */
    }

    .modal-content, .modal-content_1, .modal-content_2, .modal-content_3, .modal-content_4 {
      max-width: 100%; /* Забезпечити, що картинки будуть відповідати розміру батьківського контейнера */
      height: auto;
      position: relative; /* Потрібно для позиціонування тексту */
    }

    .modal-content_1 img,
.modal-content_2 img,
.modal-content_3 img,
.modal-content_4 img {
  max-width: 100%;
  height: auto;
}
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Стилі для полів вводу */
    input[type=text], input[type=email], input[type=tel], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    /* Стилі для заголовка форми */
    .form-title {
        text-align: center;
        margin-top: 0;
    }

.buy-button {
    /* Ваші поточні стилі кнопок */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Додаємо анімацію для зміни кольору */
}

.buy-button:hover {
    transform: scale(1.1); /* Збільшуємо кнопку при наведенні */
    background-color:  #206d23;
}

.buy-container {
  display: block; /* Змінюємо властивість display на block */
}

/* Стилі для поля адреси, що з'являється при виборі доставки "поштою" */
#address-product-2 {
  display: none; /* Початково приховуємо поле адреси */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Стилі для вибору доставки */
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: white; /* фоновий колір для випадаючого списку */
  cursor: pointer;
}

/* Стилі для кількості товару */
input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.hidden {
  display: none;
}

.modal_1 {
  display: none; /* Приховати вікно за замовчуванням */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.modal-content_1 {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #fff;
}

  /* Стилі для текстового блоку під картинками */
  .image-text {
    position: absolute;
    bottom: 0; /* Розмістити текст внизу відносно батьківського контейнера */
    width: 100%; /* Розтягнути текст по всій ширині батьківського контейнера */
    background-color: rgba(255, 255, 255, 0.8); /* Прозорий фон */
    text-align: center; /* Вирівнювання тексту по центру */
    padding: 10px 0; /* Внутрішні відступи для тексту */
    box-sizing: border-box; /* Включаємо padding у обчислення ширини */
  }

  .image-text p {
    margin: 0; /* Знищуємо внутрішній відступ у параграфа */
    font-size: 16px; /* Розмір шрифту */
    color: #333; /* Колір тексту */
  }

  .footer__link {
    position: relative;
    transition: all 0.3s ease;
    opacity: 0.8; /* Початкова прозорість тексту */
    color: #000000; /* Колір тексту за замовчуванням */
    transition: background-color 0.3s, color 0.3s; /* Плавний перехід */
}
.footer__link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4CAF50;
    transform: scaleX(0);
    transition: all 0.5s ease;
}
.footer__link:hover::before {
  background-color: #00ff04;
    transform: scaleX(1);
}
.footer__link:hover {
  opacity: 1; /* Підвищення яскравості тексту при наведенні */
}